.ingredientsCategory {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ingridientsBlock{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.subtitle {
    padding: 0;
    color: white;
    font-family: Jet Brains Mono;
}
