.header{
  margin: 0;
  padding: 0;
  background-color: #1C1C21;
  max-width: 100%;
}

/* @media (max-width: 970px) {
  .header{
    flex-direction: column;
    justify-content: space-around;
  }
} */

.contentWidth{
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 88px;
  font-family: Jet Brains Mono;
  max-width: calc(600px + 40px + 600px);

}

.logo{
  margin: 0 auto 0 132px;
  padding: 0;
  width: 289.15px;
  height: 40px;
}
.logo:hover{
  cursor: pointer;
  opacity: 0.8;
}

.buttonList{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navigationButton{
  margin: 0 49px 0 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: 56px;
  background-color:#1C1C21;
  border: none;
  font-family: Jet Brains Mono;
}
.navigationButton:last-of-type{
  margin: 0;
}

.navigationButton:hover{
  cursor: pointer;
  opacity: 0.8;
}

.navigationIcon{
  margin: 0;
  padding: 0;
}

.navigationText{
  margin: 0 0 0 9px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: white;
}
