@import url(../../../node_modules/@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css);

.header{
  background-color: #1C1C21;
  max-width: 100%;
  border: red solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contentWidth{
  border: red solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 88px;
  font-family: Jet Brains Mono;
  min-width: calc(600px + 40px + 600px + 40px);

}

.buttonList{
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  list-style-type: none;
}

.navigationButton{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 178px;
  height: 56px;
  background-color:#1C1C21;
  border: none;
  font-family: Jet Brains Mono;
  border: red solid 1px;
}
.navigationButton:last-of-type{
}

.navigationButton:hover{
  cursor: pointer;
  opacity: 0.8;
}

.navigationIcon{
}

.navigationText{
  font-size: 16px;
  line-height: 24px;
  color: white;
}
