.constructorElement {
    padding: 16px 24px;
    display: inline-block;
    background: #131316;
    max-width: 100%;
    min-height: 48px;
    font-family: 'Jet Brains Mono';
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
    flex-grow: 1;
    border: #2f2f37 4px dashed;
    border-radius: 30px;
}